<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>anjular</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="assets/bootstrap-material-design-master/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="assets/bootstrap-material-design-master/dist/css/ripples.css">    -->
    <link rel="stylesheet/less" href="css/styles.less">
    
</head>
<body ng-app="app" ng-controller="parantCtrl">
    <div class="header navbar-static-top" ng-controller="headCtrl">
        <div class="header-inner container">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-user pull-left user"  togglesidebar></span>
            </div>
            <div class="col-xs-7">My task list</div>
            <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="taskfilter" ng-change="transit()" placeholder="search" changesearch>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </div>
        </div>
        <div class="sidebar-box" ng-controller="sidebarCtrl">
            <div class="sidebar-header container">
                <div class="user-head">
                    <img src="img/head.jpg" width="120px" height="120px" alt="">
                    <p>{{username}}</p>
                </div>
            </div>
            <div class="sidebar-content container">
                <div class="sd-content-box">
                    <p class="list-head">任务清单</p>
                    <ul class="list-content" ng-repeat="item in listgroup">
                        <li ng-click="selectData($index)"><span class=" glyphicon glyphicon-th-list"></span>{{item.groupname}}</li>
                    </ul>
                    <div class="list-add-box" ng-show="lshow">
                        <input type="text" class="form-control" placeholder="Your new list name" ng-model='groupName'>
                        <select name="" id="" class="form-control" ng-model="groupType">
                            <option value="day">day</option>
                            <option value="week">week</option>
                        </select>
                        <button class='btn btn-xs btn-primary addsure' ng-click="addon()">add</button>
                        <button class='btn btn-xs btn-default addcancel' ng-click="cancel()">cancel</button>
                    </div>
                    <div class="btn btn-default" ng-click="addList()">Add</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content container" ng-controller="taskCtrl" recoversearch ng-click="changeSidebar()">
        <div ng-repeat="task in taskGroup | filter:taskfilter" class="task">
            <div class="col-xs-6">{{task.name}} </div>
            <div class="col-xs-4">{{task.date}}</div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-ok pull-right" ng-click="done($index)"></span>
            </div>
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-remove pull-right" ng-click="remove($index)"></span>
            </div>
        </div>
        <div class="task-box" ng-show="jshow">
            <input type="text" class="form-control" placeholder="Your new task name" ng-model='taskName'>
            <input class="form-control datetimepicker" type="text" placeholder="Choose date" data-date-autoclose='true' ng-model="taskDate" dateselect/>
            <button class='btn btn-xs btn-primary addsure' ng-click="addon()">add</button>
            <button class='btn btn-xs btn-default addcancel' ng-click="cancel()">cancel</button>
        </div>
        <div class="task-add btn btn-default" ng-click="addTask()">Add</div>
        <!--<div class="task-modify">
            
        </div>-->
    </div>
    <div class="footer navbar-fixed-bottom" ng-controller="footCtrl">
        <div class="footer-inner container">
            <span class="badge badge-warning">{{tasklist.length}}</span>项未完成
        </div>
    </div>
    
    <script src="js/assets/jquery.js"></script>
    <!--<script src="assets/bootstrap-material-design-master/dist/js/material.js"></script>
    <script src="assets/bootstrap-material-design-master/dist/js/ripples.js"></script>-->
    <script src="js/assets/bootstrap-datepicker.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular-animate.js"></script>
    <script src="js/assets/less.js"></script>
    <script src="js/main/main.js"></script>
    <script src="js/main/controller.js"></script>
    <script src="js/main/directive.js"></script>
    <script src="js/main/service.js"></script>
</body>
</html>